.create-acc {
          /* width: calc(100% - 50%); */
          padding: 0px 80px;
          height: 100vh;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        @media screen and (max-width: 900px) {
          .create-acc {
            width: 100%;
          }
        }
        .form {
          margin-top: 20px;
        }
        
        
        .login-text {
          margin-top: 10px !important;
        }
        .login{
          color: #3B82F6;
          cursor: pointer;
        }